@media only screen and (max-width: 940px){
	.tbl table th.num,
	.tbl table td.num {
		display: none;
	}
	.tbl table th.register_date,
	.tbl table td.register_date {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.tbl {
		display: block;
		margin: 0 auto;
		width: 80%;
		margin-top: 100px;
	}

/*  */
.table {
	table-layout:fixed;
	width:100%;
	text-align:center;
	}
	.table th { 
	background:#ccc;
	}
	.table td, .table th {
	padding:10px 20px;
	border-top:1px solid #ccc;
	word-break:break-all
}
@media screen and (max-width:768px) {
	/*block*/
	.table--block thead {
		display: none;
	}
	.table--block tr {
		display:block;
		margin-bottom:10px;
		border-top:none;
	}
	.table--block th, .table--block td {
		display:block;
		position:relative;
		padding:10px 0;
		padding-left:50%;
		border-width:0 0 1px 0;
	}
	.table--block td {
	
		display: flex;justify-content:end;

	}
	.table--block td:before {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:50%;
		padding:10px 0;
		background:#ccc;
	}
	.table--block td:nth-child(1):before {content:'번호';}
		.table--block td:nth-child(2):before {content:'아이디';}
		.table--block td:nth-child(3):before {content:'권한';}
		.table--block td:nth-child(4):before {content:'이메일';}
		.table--block td:nth-child(5):before {content:'상태';}
		.table--block td:nth-child(6):before {content:'등록자';}
		.table--block td:nth-child(7):before {content:'등록일';};
}
}